.logo-header .row div{
    height: 100px;

}

.nav-batton{
    float: left;
    margin-bottom: 1px;
}
.nav-nav{
    border: none;
    border-bottom: 3px solid #5CA039;
    position: relative;
    background:none;
}
.nav-nav .nav-div{
    position: absolute;
}
.nav-nav .email{
    background: #78B658;
    height: 30px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    line-height: 30px;
}
.nav-nav .email a{
    font-size: 12px;
    color: #fff;
}
.nav-nav .email a img{
    margin-bottom: 3px;
}