.logo-header .row div{
    height: 50px;

}

.nav-batton{
    float: left;
    margin-bottom: 1px;
}
.nav-nav{
    border: none;
    border-bottom: 3px solid #5CA039;
    position: relative;
    background:none;
}
.nav-nav .nav-div{
    position: absolute;
    z-index: 99;
}
.nav-nav .email{
    background: #78B658;
    height: 30px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    line-height: 30px;
}
.nav-nav .email a{
    font-size: 12px;
    color: #fff;
}
.nav-nav .email a img{
    margin-bottom: 3px;
}
.youshi-detail-text{
    width: 123px;
    float: left;
    text-align: center;
    position: relative;
    color: #99CC66;
    font-size: 14px;
    line-height: 50px;
}
.youshi-detail-text div{
    background: #00AA88;
    border-radius: 10px;
    position: absolute;
    top:21px;
    left: 17px;
}
.top-header{
    height: 15px;
}
.body-div{
    height: 460px;
    margin-top: -13px;
    padding-top: 40px;
}
.text-message{
    font-size: 24px;
    font-weight: bold;
    color: #9acfea;
    text-align: center;
    height: 40px;
}
.sigin-in{
    height: 100px;
    text-align: right;
    margin-top: 40px;
}
.register-in{
    margin-top: 40px;
    text-align: left;
    height: 100px;
}