.logo-header .row div{
    height: 50px;

}

.nav-batton{
    float: left;
    margin-bottom: 1px;
}
.nav-nav{
    border: none;
    border-bottom: 3px solid #5CA039;
    position: relative;
    background:none;
}
.nav-nav .nav-div{
    position: absolute;
    z-index: 99;
}
.nav-nav .email{
    background: #78B658;
    height: 30px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    line-height: 30px;
}
.nav-nav .email a{
    font-size: 12px;
    color: #fff;
}
.nav-nav .email a:hover{
    cursor: pointer;
}
.nav-nav .email a img{
    margin-bottom: 3px;
}
.youshi-detail-text{
    width: 123px;
    float: left;
    text-align: center;
    position: relative;
    color: #99CC66;
    font-size: 14px;
    line-height: 50px;
}
.youshi-detail-text div{
    background: #00AA88;
    border-radius: 10px;
    position: absolute;
    top:21px;
    left: 17px;
}
.top-header{
    height: 15px;
}
.text-message{
    font-size: 24px;
    font-weight: bold;
    color: #9acfea;
    text-align: center;
    height: 40px;
}
.sigin-in{
    height: 100px;
    text-align: right;
    margin-top: 40px;
}
.register-in{
    margin-top: 40px;
    text-align: left;
    height: 100px;
}
.register-div{
    width: 320px;
    height: 465px;
    position: relative;
    display: block;
    float: none;
    margin: auto;
}
.register-row{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -17px;
}
.register-text{
    background: #90B75A;
    width: 150px;
    height: 25px;
    border-top:1px solid #78B658;
    border-right: 1px solid #78B658;
    border-bottom: 2px solid #78B658;
    border-left: 2px solid #78B658;
    position: absolute;
    top:-10px;
    left: 27px;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.form-div{
    width:265px;
    margin: auto;
    height: 100%;
    padding-top: 30px;
}
.register-btn{
    background: #90B75A;
    color: #fff;
}
.register-div-right{
    background: #fff;
}
.register-login-div{
    border:1px solid #CFD9D8;
    width: 150px;
    height: 200px;
    padding-top: 40px;
    margin-top: 50px;
}
.login-nav{
    border: none;
    background: none;
}
.postion-absolute{
    position: absolute;
    top:-300px;
    right: 33px;
    border:1px solid #CFD9D8;
    width: 150px;
    height: 200px;
    padding-top: 40px;
    background: #fff;
    z-index: 99;
}
.user-avater{
    width: 50px;
    float: left;
    margin-left: 15px;
}
.user-name{
    margin-left: 5px;
    float:left;
    width: 220px;
    padding-top: 5px;
}
.user-name div{
    font-size: 12px;
}
.user-name div .name{
    font-size: 12px;
    color:#9acfea;
}
.login-body-div{
    height: 700px;
}
.login-form-parent{
    width: 300px;
    height:500px;
    float: right;
    margin-right: 30px;
    margin-top: 40px;
}
.login-form-header{
    width: 100%;
    background: #78B658;
    border-radius: 8px 8px 0px 0px;
    height: 70px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 70px;
}
.login-form-div{
    height: 500px;
    width: 100%;
    border: 1px solid #E2E2E3;
}
.login-form-div  .user-name-div,.login-form-div  .user-pwd-div{
    width: 268px;
    margin: auto;
    border:1px solid #E8E8E8;
    margin-top:20px;
    height: 50px;
    border-radius:0px  8px 8px 0px;
    padding: 0px;
}
.login-form-div  .user-name-div div,.login-form-div  .user-pwd-div div{
    height: 100%;
}
.diy-icon{
    margin-top: 15px;
    margin-right: 5px;
}
.login-form-div input{
    height: 100%;
    width: 228px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.login-input-parent{
    padding-right: 0px;
}
.login-btn{
    display: block;
    width: 80%;
    margin: auto;
    color: white;
    background: #78B658;
    margin-top: 20px;
}
.forget-pwd-div{
    width: 100%;
    height: 40px;
    margin-top: 5px;
}
.forget-pwd-div .forget-pwd-div1,.forget-pwd-div .forget-pwd-div2{
    width: 48%;
    height: 100%;
    line-height: 40px;
}
.forget-pwd-div2{
    float: right;
    text-align: right;
    padding-right: 15px;
}
.forget-pwd-div1{
    float: left;
    text-align: left;
    padding-left: 15px;
}
.ok-register-div{
    height:400px;
    position: relative;
    width: 380px;
    display: block;
    float: none;
    margin: auto;
}
.cirle-ok-c{
    position: absolute;
    top: 31%;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    line-height: 80px;
    background: #78B658
}
.ok-register-text{
    width: 300px;
    height: 200px;
    position: absolute;
    top:25%;
    left: 110px;
    line-height: 1.8;
}
.user-nav-left-header{
    width: 200px;
    height: 50px;
    border: 1px solid #5CA039;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    background: #78B658;
    color:#fff;
}
.user-nav-left-header:hover{
    cursor: pointer;
}
.user-nav-left-ul{
    border:1px solid #5CA039;
    width: 200px;
}
.user-nav-p{
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
.fixed{
    width:300px;
    height:200px;
    border-top:4px solid #00C1B3;
    width: 100%;
    z-index: 99;
    background: #fff;
    overflow: auto;
    border-radius: 50px;
    z-index: 99;
}
.user-avater-div{
    width: auto;
    height: 160px;
    padding:0px;
    text-align: center;
}
.user-avater-div img{
    width: 150px;
}
.center-user-name{
    font-size: 20px;
    color:#8a6d3b;
}
.ucenter-info{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    width: 50%;
    float: left;
}
.user-info-div  input {
    border: 0px;
    outline: none;
    border-bottom: 1px solid #5cb85c;
    text-align: right;
}